<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Lời mời tham gia vào lớp học </title>
  </head>
  <body>
    <p>Xin chào {{name}},</p>

    <p>Có một lời mời bạn tham gia vào lớp học
      <b>{{className}}</b>
      với vai trò
      <b>
        {{role}}
      </b></p>

    <p>Click để xác nhận tham gia: <a href='{{inviteLink}}'>Tham gia</a></p>

    <p>Nếu bạn không muốn tham gia, vui lòng bỏ qua email này</p>

    <p>Trân trọng,<br />
      Learning App Team</p>
  </body>
</html>