<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Invitation to join the class</title>
  </head>
  <body>
    <p>Hello {{name}},</p>

    <p>You have been invited to join the class
      <b>{{className}}</b>
      as a
      <b>
        {{role}}
      </b></p>

    <p>Click to confirm your participation: <a href='{{inviteLink}}'>Join</a></p>

    <p>If you do not wish to join, please ignore this email</p>

    <p>Best regards,<br />
      Learning App Team</p>
  </body>
</html>